@{
    ViewData["Title"] = "Home Page";
}
@* floating ghost *@
<div class="mainghost">
    <div class="ghost">
        <div class="head"></div>
        <div class="body">
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye blinking-eye"></div>
            </div>
            <div class="mouth"></div>
        </div>
        <div class="tail"></div>
    </div>
    <div class="ghost-shadow"></div>
    <div> 
        <h1>Welcome!</h1>
    </div>
</div>
