@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th> 
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                DateTime
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.DisplayOrder
                    </td>
                    <td>
                        @obj.CreatedDateTime
                    </td>
                </tr>
    }
    </tbody>
</table>